@model GraderApp.Models.CourseHasStudent

@{
    ViewData["Title"] = "Register Students to Courses";
    Layout = "_SecretariesLayout";
}
<br />
<h1>Register Students to a Course</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseIdCourse" class="control-label"></label>
                <select asp-for="CourseIdCourse" class ="form-control" asp-items="ViewBag.CourseIdCourse"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentsRegistrationNumber" class="control-label"></label>
                <select asp-for="StudentsRegistrationNumber" class ="form-control" asp-items="ViewBag.StudentsRegistrationNumber"></select>
            </div>
            <div class="form-group">
                <input asp-for="GradeCourseStudent" type="hidden" class="form-control" />
                <span asp-validation-for="GradeCourseStudent" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div><br />
<h2>@ViewBag.success</h2>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
