@model GraderApp.Models.Course

@{
    ViewData["Title"] = "Insert Courses";
}
<br />
<h1>Insert Courses</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertCourses">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCourse" class="control-label"></label>
                <input asp-for="IdCourse" maxlength="5" class="form-control" />
                <span asp-validation-for="IdCourse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseTitle" class="control-label"></label>
                <input asp-for="CourseTitle" class="form-control" />
                <span asp-validation-for="CourseTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseSemester" class="control-label"></label>
                <select asp-for="CourseSemester" name="CourseSemester" class="form-control">
                    <option value="First">First</option>
                    <option value="Second">Second</option>
                    <option value="Third">Third</option>
                    <option value="Fourth">Fourth</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<h2>@ViewBag.success</h2>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
